$color_1: white;
$color_2: firebrick;
$color_3: whitesmoke;
$color_4: rgb(246, 207, 207);
$color_5: black;
$color_6: #bf0303;
$font-family_1: 'Staatliches', cursive;
$font-family_2: 'Roboto', sans-serif;
$background-color_1: rgb(158, 54, 54);
$background-color_2: rgb(31, 30, 30);
$background-color_3: whitesmoke;
$background-color_4: #2d2b2b;
$background-color_5: firebrick;
$background-color_6: #2d2b2beb;